<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
                <h4 class="card-title m-b-0">{{currentCategory.name}} - Products Overview</h4>
                <button [routerLink]="['/admin/products-create']"
                    class="btn btn-success waves-effect waves-light m-r-10 my-2" data-toggle="modal"
                    data-target="#add-category">Add Product</button>
            </div>
            <div class="card-block collapse show">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Photo</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td><a [routerLink]="['/admin/products/',product.id]">{{product.title}}</a></td>
                                <td>
                                    <img [src]="SERVER+'/'+product!.images[0]?.image_name" alt="iMac" width="80">
                                </td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                                <td>
                                    <a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip"
                                        title="" data-animation="false" data-original-title="Edit"><i
                                            class="fa fa-edit"></i></a>
                                    <a (click)="productToDelete=product" href="javascript:void(0)" class="text-inverse"
                                        title="" data-animation="false" data-toggle="tooltip"
                                        data-original-title="Delete"><i data-toggle="modal" role="button"
                                            data-target="#delete-product" class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- satrt of delete product modal  -->
<!-- ============================================================== -->
<div id="delete-product" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete Product <span
                        class="font-weight-bold">{{productToDelete.title}}</span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteProduct()" class="btn btn-info waves-effect"
                    data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ============================================================== -->
<!-- end of delete product modal  -->
<!-- ============================================================== -->