<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-3">
        <div class="subs_image">
          <img src="../../../assets/images/icons/send.svg" alt="send" />
        </div>
        <!--End subs_image-->
      </div>
      <div class="col-sm-10 col-md-9">
        <div class="subs_content">
          <h3>Sign up to receive our newsletter</h3>
          <p>Receive updates on the latest news and promotions.</p>
          <form class="subs_form">
            <input type="email" placeholder="Enter email address" />
            <button type="submit" class="cust_btn">Subscribe</button>
          </form>
          <!--End subs_form-->
        </div>
        <!--End subs_content-->
      </div>
    </div>
    <!--End row-->
  </div>
  <!--End container-->
</section>
<!--End subscribe-->
