.carousel-item{
    max-height: 350px;
}

.card-block{
    min-height: 400px;
}

.product-price{
    font-size: xx-large;
}
.product-title{
    font-size: xx-large;
    // 
}
.base-cost{
    text-decoration:  line-through;
}