<h3 class="cust_h2 text-left mb-4">Reset Password</h3>
							<div class="edit_profile_content">
								<div class="mb-3">
									<div class="form-group form-group-icon">
                    <i
                    class="fa"
                    [ngClass]="inputPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword = !inputPassword"
                  ></i>
										<label for="Password"> Old Password</label>
										<input [type]="inputPassword ? 'password' : 'text'" name="Password" class="form-control" placeholder="Enter Old Password">
									</div>
									<div class="form-group form-group-icon">
                    <i
                    class="fa "
                    [ngClass]="inputPassword2 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword2 = !inputPassword2"
                  ></i>
										<label for="Password">New Password</label>
										<input [type]="inputPassword2 ? 'password' : 'text'" name="Password" class="form-control" placeholder="Enter New Password">
									</div>
									<div class="form-group form-group-icon">
                    <i
                    class="fa "
                    [ngClass]="inputPassword3 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword3 = !inputPassword3"
                  ></i>
										<label for="Password">Repeat Password</label>
										<input [type]="inputPassword3 ? 'password' : 'text'" name="Password" class="form-control" placeholder="Repeat Password">
									</div>
								</div>
								<div class="cust_des_action d-flex align-items-center justify-content-end">
									<button class="cancle_btn font-Medium">
										Cancel
									</button>
									<button class="add_btn cust_btn">Save Changes</button>
								</div>
							</div>
