<footer>
  <div class="container">
    <div class="top_footer">
      <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-3">
          <div class="footer_content">
            <h3 class="footer_head">packagekw</h3>
            <p>
              Duis vestibulum elit vel neque pharetra vulputate. Quisque
              scelerisque nisi urna. Duis rutrum non risus in imperdiet. Proin
              molestie accumsan nulla sit amet mattis.
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-md-3 col-lg-2">
          <div class="footer_content">
            <h3 class="footer_head">Products</h3>
            <ul>
              <li><a [routerLink]="['/products']" >What's new?</a></li>
              <li><a [routerLink]="['/products']" >Most Popular</a></li>
              <li><a [routerLink]="['/products']" >View All Products</a></li>
              <li><a [routerLink]="['/products']" >Special Finishes</a></li>
              <li><a [routerLink]="['/products']" >Bundles & Offers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-2">
          <div class="footer_content">
            <h3 class="footer_head">Learn More</h3>
            <ul>
              <li><a [routerLink]="['/about']">About us</a></li>
              <li><a [routerLink]="['/home']">Delivery</a></li>
              <li><a [routerLink]="['/home']">Paper Information</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-2">
          <div class="footer_content">
            <h3 class="footer_head">Here to help</h3>
            <ul>
              <li><a [routerLink]="['/home']">FAQ</a></li>
              <li><a [routerLink]="['/home']">Apply for an account</a></li>
              <li><a [routerLink]="['/home']">COVID-19 assistance</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-3">
          <div class="footer_content">
            <h3 class="footer_head">Contact</h3>
            <ul>
              <li>
                <a><i class="fas fa-phone"></i><span>𝟶𝟶𝟿𝟼𝟻-𝟻𝟷𝟷𝟶𝟶𝟹𝟼𝟶</span></a
                >
              </li>
              <li>
                <a><i class="far fa-envelope"></i
                  ><span>Packagekw@Gmail.Com</span></a
                >
              </li>
              <li>
                <ul class="mini_list">
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--End top_footer-->
    <div class="bottom_footer">
      <p>&copy; 2020 packagekw. All rights reserved.</p>
    </div>
    <!--End bottom_footer-->
  </div>
  <!--			<img src="../../../assets/images/icons/footer_background.svg">-->
</footer>
<!--End footer-->
