$black_color: #252829;
.media-body {
  h6 {
    font-size: 14px;
  }
}
.user_profile_list {
  width: 256px;
  &::after {
    bottom: 91%;
    right: 75px;
    left: unset;
  }
  .your_shoping_cart {
    border-bottom: 0;
    .your_shoping_item {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 20px;
      &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0;
      }
      span {
        color: $black_color;
      }
    }
  }
}

.your_checkout {
  opacity: 0.5;
  transform: translateY(30px);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  &.active {
    opacity: 0.2;
    visibility: visible;
  }
}

.nav_action ul li {
  cursor: pointer;
}

.overlay.menu {
  z-index: 9;
}
