<section class="customer_opinion">
  <img
    class="customer_bg"
    src="../../../assets/images/icons/footer_background.svg"
    alt="customer_bg"
  />
  <div class="container">
    <h2 class="cust_h2 mb-0">{{ "Customers_Say_About_Us" | translate }}</h2>
    <div class="customer_content">
      <div class="slider_control customer_control">
        <span class="left_arrow left"><i class="fas fa-chevron-left"></i></span>
        <span class="right_arrow right"
          ><i class="fas fa-chevron-right"></i
        ></span>
      </div>
      <!--End slider_control-->
      <div class="customer_slider">
        <swiper [config]="config">
          <div class="item">
            <div class="customer_item">
              <div class="cust_item_content">
                <span class="quote_icon"
                  ><i class="fas fa-quote-right"></i
                ></span>
                <img
                  src="../../../assets/images/customer1.png"
                  alt="customer1"
                />
                <p>
                  "High quality business cards, unique finish and great customer
                  services."
                </p>
                <h5>Ronnie Powell</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="customer_item">
              <div class="cust_item_content">
                <span class="quote_icon"
                  ><i class="fas fa-quote-right"></i
                ></span>
                <img
                  src="../../../assets/images/customer2.png"
                  alt="customer1"
                />
                <p>
                  "High quality business cards, unique finish and great customer
                  services."
                </p>
                <h5>Frank Riley</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="customer_item">
              <div class="cust_item_content">
                <span class="quote_icon"
                  ><i class="fas fa-quote-right"></i
                ></span>
                <img
                  src="../../../assets/images/customer1.png"
                  alt="customer1"
                />
                <p>
                  "High quality business cards, unique finish and great customer
                  services."
                </p>
                <h5>Ronnie Powell</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="customer_item">
              <div class="cust_item_content">
                <span class="quote_icon"
                  ><i class="fas fa-quote-right"></i
                ></span>
                <img
                  src="../../../assets/images/customer2.png"
                  alt="customer1"
                />
                <p>
                  "High quality business cards, unique finish and great customer
                  services."
                </p>
                <h5>Frank Riley</h5>
              </div>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
</section>
